# Environments
.env
.env.local
.env.*.local
venv/
backend/venv/
env/
ENV/

# Dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
*.db-journal

# Uploads & Media
backend/app/static/uploads/
uploads/
*.log

# Build & Dist
frontend/dist/
frontend/build/
dist/
build/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
